<div id="myCarousel" class="carousel slide displaynone ">

<!-- Indicators -->
   
    <div class="indicators">		
      	 <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>
    </div>

<!-- Wrapper for slides -->
   
    <div class="carousel-inner">
        <div class="item active">
            <div class="fill" style="background-image:url('src/client/images/SBanner0.jpg');">
                <h1 class="lib homeText displaynone" >Spreading Nordic Values</h1>

                <p class="openSans break">&#8734;</p>

                <h4 class="openSans displaynone silderText" >Expleris represents and commercializes high quality goods from and across international markets.</h4>
                <a ng-href="#categories" class="lib" style="color: #d9a792;"><h5 class="sliderh5">View Portfolio</h5></a>
            </div>
        </div>
        <div class="item">

            <div class="fill" style="background-image:url('src/client/images/SBanner2.jpg');">
          
                </a>   -->
                <div class="silderBox" >
                    <h1 class="silderText2">Quality You Can Trust</h1>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="fill" style="background-image:url('src/client/images/SBanner1.jpg');">
                <div class="silderBox" >
                    <h1 class="silderText2">A safe and guided landing with Expleris</h1>
                </div>
            </div>
        </div>
    </div>
    <a class="left carousel-control" data-target="#myCarousel" data-slide="prev">
        <span class="icon-prev"></span>
    </a>
    <a class="right carousel-control" data-target="#myCarousel" data-slide="next">
        <span class="icon-next"></span>
    </a>
</div>

<!-- Main Content -->

<div class="container">

    <div class="col-md-12 boxContainer">
       
        <div class="col-md-4 homeBox">
           
            <div class="circular">

                <img src="src/client/images/expleris1.jpeg" alt="why expleris" />

            </div>

            <h3 class="bold">Expleris</h3>
            <p>We aim to provide our clients with a high end portfolio whilst contributing to the international market expansion of our partners.</p>
            <a ng-href="#whyUs"><h5>Read more</h5></a>
            
        </div>

        <div class="col-md-4 homeBox borderLine">
          
            <div class="circular">
               
                <img src="src/client/images/lifestyle.jpeg" alt="nordic values" />
            
            </div>
            
            <h3 class="bold">Nordic Values</h3>
            <p>Leading in global competitiveness and efficient anti-corruption practices, it is here that you will find some of the best manufacturers of safe and high quality products.</p> 
            <a ng-href="#whyUs"><h5>Read more</h5></a>
            
        </div>

         <div class="col-md-4 homeBox">         
           
            <div class="circular">
              
                <img src="src/client/images/venture.jpeg" alt="a guided venture" />
            
            </div>       
            
            <h3 class="bold">A Guided Venture</h3>
            <p>Joining forces to fulfill successful ventures!</br>Expleris offers a guided handholding business experience, embracing new opportunities.</p>
            <a ng-href="#whyUs"><h5>Read more</h5></a>          
        
        </div>
    
    </div>

</div>